body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1531px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1531px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 24, 46, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3985 {
  position:absolute;
  left:0px;
  top:0px;
  width:1531px;
  height:64px;
}
#u3986 {
  position:absolute;
  left:2px;
  top:24px;
  width:1527px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.63921568627451);
  text-align:left;
}
#u3987 {
  position:absolute;
  left:289px;
  top:0px;
  width:121px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.63921568627451);
  text-align:left;
}
#u3988 {
  position:absolute;
  left:28px;
  top:22px;
  width:65px;
  white-space:nowrap;
}
#u3989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.63921568627451);
  text-align:left;
}
#u3989 {
  position:absolute;
  left:630px;
  top:0px;
  width:121px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.63921568627451);
  text-align:left;
}
#u3990 {
  position:absolute;
  left:28px;
  top:22px;
  width:65px;
  white-space:nowrap;
}
#u3991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u3992 {
  position:absolute;
  left:1426px;
  top:0px;
  width:75px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u3993 {
  position:absolute;
  left:2px;
  top:22px;
  width:71px;
  word-wrap:break-word;
}
#u3994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3994 {
  position:absolute;
  left:62px;
  top:19px;
  width:201px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3995 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u3996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u3996 {
  position:absolute;
  left:530px;
  top:0px;
  width:121px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u3997 {
  position:absolute;
  left:28px;
  top:22px;
  width:65px;
  white-space:nowrap;
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3999 {
  position:absolute;
  left:927px;
  top:21px;
  width:314px;
  height:22px;
  color:#FFFFFF;
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  white-space:nowrap;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4001 {
  position:absolute;
  left:933px;
  top:21px;
  width:20px;
  height:20px;
}
#u4002 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003 {
  position:absolute;
  left:816px;
  top:15px;
  width:111px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4004 {
  position:absolute;
  left:1399px;
  top:21px;
  width:23px;
  height:23px;
}
#u4005 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006 {
  position:absolute;
  left:1334px;
  top:18px;
  width:52px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.63921568627451);
  text-align:left;
}
#u4007 {
  position:absolute;
  left:399px;
  top:1px;
  width:121px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.63921568627451);
  text-align:left;
}
#u4008 {
  position:absolute;
  left:28px;
  top:22px;
  width:65px;
  white-space:nowrap;
}
#u4009 {
  position:absolute;
  left:420px;
  top:8px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
